.header {
	height: 100px;
}

.panel-body {
	color: white;
	text-align: center;
	font-size: 250%;
}

.col-md-4 {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}

.gemImages {
	margin: 15px;
	border-width: 3px;
	border-color: #2a9fd6;
	border-style: solid;
}

.winsNLosses {
	font-size: 70%;
}

.panel-body {
	height: 100px;
}
