.header {
	float: right;
}

.panel-body {
	
}

.col-md-2 {

}

.jediImages {
	width: 120px;
	height: 120px;
}

.jediCard {
	border-style: solid;
	border-width: 2px;
	border-color: #2a9fd6;
	text-align: center;
}

.attackButton {
	font-size: 24px;
}
